body{
    background: #e2ece9;

    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;

}

#text-score{
    color: red;
    font-size: xx-large
}

#score{
    color: blue;

}

.contain-matrix{
width:800px;
height:800px;

margin: auto;
display:grid;
/* grid-template-columns: repeat(5, 1fr); */
/* background: blue; */
padding:10px;
text-align: center;


}
.square{
margin: 10px;
background: #33FFBE;
border: 1px solid green;
padding:auto;
width:80px;
height:80px;

}

.square:hover{
transform: scale(1.1);
transition: 0.5s;
border: 3px solid black;

}

#start{

    color: red;
    font-size: 30px;

}


#cheat{
    color:red;
    font-size: 30px;
}


/* reponsive mobile ================================= */
@media only screen and (max-width: 600px) {
    .contain-matrix{
        width:300px;
        height:300px;

        margin: auto;
        display:grid;
        /* grid-template-columns: repeat(5, 1fr); */
        /* background: blue; */
        padding:3px;
        text-align: center;


        }
        .square{
        margin: 3px;
        background: #33FFBE;
        border: 1px solid green;
        padding:auto;
        width:30px;
        height:30px;

        }

        .square:hover{
        transform: scale(1.1);
        transition: 0.5s;
        border: 1px solid black;

        }

  }